html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.messageParent {
    border: solid;
    border-width: 2px;
    border-color: black;
}

.message {
    border: dashed;
    border-width: 1px;
    border-color: gray;
}