@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Links";
}
<h2>Links</h2>
Pretend this is a link to something. It's not, but work with me here.